{% extends "base.html" %}
{% block title %} Register Page {% endblock %}
{%block content %}
<body class="text-center">
<div class="container">
  <form method="POST" class="from-register" style="color: white">
    {{ form.hidden_tag() }}
   <img src="{{ url_for('static', filename='images/logo.png') }}"  width="{{150}}" class="mt-2 mb-3" />
    <h1 class="h4 mb-1 font-weight-normal">
      Please Create your Account
    </h1>
    <br>
    {{ form.username.label() }}
    {{ form.username(class="form-control", placeholder="User Name") }}

    {{ form.email_adress.label() }}
    {{ form.email_adress(class="form-control", placeholder="Email Adress") }}

    {{ form.password1.label() }}
    {{ form.password1(class="form-control", placeholder="Password") }}

    {{ form.password2.label() }}
    {{ form.password2(class="form-control", placeholder="Confirm Password") }}

    <br>
 {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
  <div class="checkbox mb-3">
     <h6>Already have an account?</h6>
        <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
</div>

   
  </form>
</div>
</body>
{% endblock %}